# pgsql creds and location
export DB_HOSTNAME=
export DB_URL=
export DB_NAME=
export DB_USER=
export DB_PASS=
export DB_PORT=5432

# Open AI
export OPEN_AI=
export OPEN_AI_MODEL=gpt-4o-mini

# phx host - make sure the PHX_HOST is the domain where it will be hosted
export PHX_HOST=localhost
export PORT=4000

# mix phx.gen.secret
export SECRET_KEY_BASE=