<!-- Flash messages -->
<.flash_group flash={@flash} />

<!-- Main container -->
<div class="flex font-sans text-gray-100">
  <!-- Content Pane -->
  <main class="flex-1">
    <%= @inner_content %>
  </main>
</div>
