<!-- Flash messages -->
<.flash_group flash={@flash} />

<!-- Main container -->
<div class="flex h-screen font-sans text-gray-100">
  <!-- Content Pane -->
  <main class="flex-1 p-8 min-h-screen overflow-y-auto">
    <%= @inner_content %>
  </main>
</div>
