<.flash_group flash={@flash} />
<div>
  <div class="px-4 py-5 sm:px-6 sm:py-14 lg:px-8 xl:px-28 xl:py-16">
    <div class="mx-auto max-w-3xl lg:mx-15">
      <p class="text-[2rem] mt-4 font-semibold leading-5 tracking-tighter text-zinc-900">
        hello, <span class="text-brand"><%= System.get_env("ROOT_USER") %></span>
      </p>
    </div>
  </div>
</div>
